Структуры данных в Python:

Индексируемые (упорядоченные):

* string (строки)
* tuple (кортеж)
* list (список)

Неиндексируемые (неупорядоченные):

* set (множества)
* dict (словарь)

In [1]:
text = "Python is cool"
print(text, type(text))

Python is cool <class 'str'>

In [2]:
print(text[0])

P

In [4]:
print(text[0:6])

Python

In [5]:
print(text[:6])

Python

In [6]:
print(text[7:])

is cool

In [7]:
print(text[:])

Python is cool

In [8]:
7, 8

(7, 8)

In [9]:
triple = (10, 5, 9)

In [10]:
print(triple, type(triple))

(10, 5, 9) <class 'tuple'>

In [11]:
triple

(10, 5, 9)

In [12]:
triple[-1]

9

In [13]:
triple[len(triple)-1]

9

In [14]:
values = [4, 7, 8, 9, 10, 5, 0, 2]

In [16]:
print(values[4])

10

In [18]:
text.lower()

'python is cool'

In [19]:
print(text)

Python is cool

In [20]:
text = text.lower()

In [21]:
print(text)

python is cool

In [22]:
text = text.capitalize()
print(text)

Python is cool

In [24]:
triple.index(5)

1

In [25]:
triple.count(9)

1

In [26]:
four = (4, 4, 6, 6)

In [27]:
print(four.index(6))

2

In [28]:
print(values)

[4, 7, 8, 9, 10, 5, 0, 2]

In [29]:
values.append(6)

In [30]:
text

'Python is cool'

In [31]:
text2 = text

In [32]:
print(text, text2)

Python is cool Python is cool

In [33]:
values2 = values
print(values, values2)

[4, 7, 8, 9, 10, 5, 0, 2, 6] [4, 7, 8, 9, 10, 5, 0, 2, 6]

In [34]:
values2.append(5)

In [35]:
print(values, values2)

[4, 7, 8, 9, 10, 5, 0, 2, 6, 5] [4, 7, 8, 9, 10, 5, 0, 2, 6, 5]

In [36]:
values2 = values.copy()
values2.extend([7, 9, 0])

In [37]:
print(values, values2)

[4, 7, 8, 9, 10, 5, 0, 2, 6, 5] [4, 7, 8, 9, 10, 5, 0, 2, 6, 5, 7, 9, 0]

In [40]:
t = (values, values)

In [42]:
values = values2

In [43]:
print(t)

([4, 7, 8, 9, 10, 5, 0, 2, 6, 5], [4, 7, 8, 9, 10, 5, 0, 2, 6, 5])

In [44]:
t[0] = values2

TypeError: 'tuple' object does not support item assignment

In [45]:
["25/04/2023", True, 45]

['25/04/2023', True, 45]

In [46]:
numbers = [3, 4, 7, 8, 9, 0, 10, 34, 12, 0]

In [47]:
for n in numbers:
    print(n)

3
4
7
8
9
0
10
34
12
0

In [48]:
numbers ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [49]:
squares = []
for n in numbers:
    squares.append(n ** 2)

In [50]:
print(squares)

[9, 16, 49, 64, 81, 0, 100, 1156, 144, 0]

In [52]:
squares = [n ** 2 for n in numbers]

In [54]:
list(map(int, ["2", "4", "5"]))

[2, 4, 5]

In [57]:
squares = list(map(lambda x: x ** 2, numbers))

In [58]:
tuple(map(int, ["2", "4", "5"]))

(2, 4, 5)

In [59]:
set(map(int, ["2", "4", "5"]))

{2, 4, 5}

In [60]:
for i in map(int, ["2", "4", "5"]):
    print(i)

2
4
5

In [64]:
%%timeit
squares = []
for n in range(1, 10001):
    squares.append(n ** 2)

3.12 ms ± 71.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [66]:
%%timeit
squares = [n ** 2 for n in range(1, 10001)]

2.73 ms ± 51.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [67]:
%%timeit
squares = list(map(lambda x: x ** 2, range(1, 10001)))

3.09 ms ± 87.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [68]:
range(1, 11)

range(1, 11)

In [69]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [71]:
list(range(1, 11, -2))

[]

In [72]:
list(range(11, 1, -2))

[11, 9, 7, 5, 3]

In [75]:
values[1:8]

[7, 8, 9, 10, 5, 0, 2]

In [76]:
values[1:8:2]

[7, 9, 5, 2]

In [79]:
values[8:1:-2]

[6, 0, 10, 8]