Структуры данных:

Индексируемые (упорядоченные)

* string: строка
* tuple: кортеж
* list: список

Неиндексируемые (неупорядоченные)

* set: множество
* dict: словарь

In [1]:
text = "Python is cool"
print(text)

Python is cool

In [2]:
text

'Python is cool'

In [3]:
print(text[0])

P

In [4]:
print(text[5])

n

In [5]:
print(text[0:6])

Python

In [6]:
print(text[:6])

Python

In [8]:
print(text[7:])

is cool

In [9]:
print(text[:])

Python is cool

In [10]:
print(text[0:10:2])

Pto s

In [11]:
print(text[-1])

l

In [12]:
print(text[len(text)-1])

l

In [13]:
print(text[0:10:-2])

In [14]:
print(text[10:0:-2])

cs ot

In [15]:
6, 8

(6, 8)

In [16]:
"abc", 9

('abc', 9)

In [17]:
triple = (10, 5, 9)

In [18]:
print(triple[2])

9

In [19]:
print(text)

Python is cool

In [20]:
text.lower()

'python is cool'

In [21]:
print(text)

Python is cool

In [22]:
text = text.lower()
print(text)

python is cool

In [23]:
text = text.capitalize()

In [24]:
print(text)

Python is cool

In [25]:
triple.index(10)

0

In [26]:
triple.index(11)

ValueError: tuple.index(x): x not in tuple

In [27]:
four = (4, 4, 6, 6)

In [28]:
four.index(6)

2

In [29]:
four.count(6)

2

In [30]:
mixed = ["Alla", 30, True]

In [31]:
print(mixed)

['Alla', 30, True]

In [32]:
values = [7, 8, 9, 5, 6, 10]

In [33]:
print(values)

[7, 8, 9, 5, 6, 10]

In [34]:
values.append(100)

In [35]:
values

[7, 8, 9, 5, 6, 10, 100]

In [36]:
values[0] = 6

In [37]:
values

[6, 8, 9, 5, 6, 10, 100]

In [38]:
x = 2
y = x
y = y * 2
print(x, y)

2 4

In [39]:
values2 = values
values2.extend([4, 7, 200])

In [40]:
print(values, values2)

[6, 8, 9, 5, 6, 10, 100, 4, 7, 200] [6, 8, 9, 5, 6, 10, 100, 4, 7, 200]

In [41]:
values3 = values.copy()
values3.append(1000)
print(values, values3)

[6, 8, 9, 5, 6, 10, 100, 4, 7, 200] [6, 8, 9, 5, 6, 10, 100, 4, 7, 200, 1000]

In [42]:
numbers = [10, 8, 9, 5, 6, 0, -1, 4, 3]

In [43]:
for n in numbers:
    print(n)

10
8
9
5
6
0
-1
4
3

In [44]:
squares = []
for n in numbers:
    squares.append(n ** 2)
print(squares)

[100, 64, 81, 25, 36, 0, 1, 16, 9]

In [47]:
squares = [n ** 2 for n in numbers]
print(squares)

[100, 64, 81, 25, 36, 0, 1, 16, 9]

In [50]:
int("45")

45

In [53]:
for i in map(int, ["2", "5", "10"]):
    print(i, type(i))

2 <class 'int'>
5 <class 'int'>
10 <class 'int'>

In [54]:
list(map(int, ["2", "5", "10"]))

[2, 5, 10]

In [55]:
tuple(map(int, ["2", "5", "10"]))

(2, 5, 10)

In [58]:
squares = list(map(lambda x: x ** 2, numbers))

In [61]:
%%timeit
squares = []
for n in range(1, 10001):
    squares.append(n ** 2)

3.61 ms ± 204 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [62]:
%%timeit
squares = [n ** 2 for n in range(1, 10001)]

2.98 ms ± 79.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [63]:
%%timeit
squares = list(map(lambda x: x ** 2, numbers))

3.06 µs ± 129 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [65]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [68]:
list(range(20, 1, -2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]